### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [2]:
row_your_boat = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
row_your_boat.count("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [14]:
f_name = input("name")
u_color = input("color")
u_animal = input("animal")
poem = "{name} had a little {animal}.\nIt was {color} as snow.\nAnd everywhere that {name} went, the {animal} was sure to go"

name Mikey
color Blue
animal Cat

In [15]:
print(poem.format(name = f_name, color = u_color, animal = u_animal))

Mikey had a little Cat.
It was Blue as snow.
And everywhere that Mikey went, the Cat was sure to go

3. Print 3.14159 in a scientific number notation

In [27]:
x = 3.14159 
print("{:.3e}".format(x)) #not sure I get scientific notation

3.142e+00

4. Print 3.1559 in 3 decimal places

In [26]:
x = 3.14159 
print("{:.3f}".format(x))

3.142

5. Print 1589.92341 in a scientific number notation to the power of 3

In [46]:
x = 1589.92341
print("{:.2e}".format(x))
print(f"{x:.2e}")

1.59e+03
1.59e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [65]:
print(39//2, 39%2)
print(19//2, 19%2)
print(9//2, 9%2)
print(4//2, 4%2)
print(2//2, 2%2)
print(1//2, 1%2)
# 100111
print(bin(0b100111) == bin(39))
print(int(39) == int(0b100111))

19 1
9 1
4 1
2 0
1 0
0 1
True
True

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [66]:
print(39//8,39%8)

4 7

In [68]:
print(4//8,4%8)

0 4

In [70]:
oct(39)

'0o47'

In [79]:
print(int(39)==int(0o47))
print(oct(39)==oct(0o47))

True
True

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [80]:
print(39//16, 39%16)

2 7

In [81]:
print(2//16, 2%16)

0 2

In [83]:
hex(39)

'0x27'

In [85]:
print(hex(0x27)==hex(39))
print(int(0x27)==int(39))

True
True

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [124]:
amount = float(input("Input amount: $"))
tax_rate = float(input("Input tax rate (in percentage): %"))/100

Input amount: $ 40
Input tax rate (in percentage): % 5

In [125]:
tax_amount = amount * tax_rate
total = amount + tax_amount

In [126]:
print(f"Amount: ${amount:.2f}\nTax rate: %{tax_rate}\nTax Amount: ${tax_amount:.2f}\nTotal: ${total:.2f}")

Amount: $40.00
Tax rate: %0.05
Tax Amount: $2.00
Total: $42.00